<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Список дел</a>
        <div class="collapse navbar-collapse">
        </div>
        <div class="navbar-nav ml-auto" th:if="${user != null}">
            <a class="nav-link text-secondary me-3" th:name="${user.name}"></a>
            <a class="nav-link text-secondary" th:href="@{/users/logout}">Выйти</a>
        </div>
    </div>
</nav>